html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #BEEB9F;
}

.header-font {
	font-family: 'Nunito', sans-serif;
}

#header {
	background-color: #00A388;
	margin: 0;
	padding: 1%;
	width: 98%;
	box-shadow: 0px 2px 4px #333;
	font-size: 1.25em;
	position: absolute;
}

#header div {
	float: left;
	margin: 0;
}

nav {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	width: 12%;
	float: right;
}

nav ul li a {
	text-decoration: none;
	color: #FFFF9D;
}

nav ul li a:hover {
	color: #FF6138;
}

#main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("../images/front_bg.jpg");
	background-size: cover;
}

#main h1 {
	padding: 20%;
	margin: 0;
	color: #FFFF9D;
	font-family: 'Lobster', cursive;
	font-size: 5em;
	text-shadow: 2px 1px 2px #000;

}

#content {
	margin: 5%;
}

#content h1 {
	text-align: center;
}